# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
runMethodByName/bin/Debug/runMethodByName.exe
*.exe
runMethodByName/bin/Debug/runMethodByName.vshost.exe.manifest
*.cache
runMethodByName/obj/Debug/runMethodByName.csproj.FileListAbsolute.txt
*.pdb
runMethodByName/obj/Debug/runMethodByName.Form1.resources
*.resources
runMethodByName/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
